.car-image {
    height: 60vh;
    // width: 90%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.car-card-show {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.car-brand-type {
    font-size: 2em;
}

@media(max-width: 768px) {
    .car-image {
        height: 80vh;
        // width: 90%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
}