.car-image {
    height: 60vh;
    // width: 90%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.car-card-show {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.car-brand-type {
    font-size: 2em;
    font-weight: bold;
    padding-left: 5%;
}

.car-description {
    width: 90%;
    height: 100px;
    margin: 10px 5% 30px 5%;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
    text-align: center;
}

.car-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.car-links a {
    margin:0 15px 0 15px;
}

.car-price {
    padding-right: 5%;
}

@media(max-width: 768px) {
    .car-image {
        height: 80vh;
        // width: 90%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
}