.item-image {
    height: 60vh;
    // width: 90%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.item-card-show {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.item-brand-type {
    padding-left: 5%;
    font-size: 2em;
    font-weight: bold;
}

.item-description {
    width: 90%;
    height: 100px;
    margin: 10px 5% 30px 5%;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
    text-align: center;
}

.item-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.item-links a {
    margin:0 15px 0 15px;
}

.item-price {
    padding-right: 5%;
}


@media(max-width: 768px) {
    .item-image {
        height: 80vh;
        // width: 90%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
}