<div class="footer d-flex align-items-center justify-content-between">
    <p>© 2021 Filmauto's.nl, Inc. All rights reserved</p>
    <div>
      <a href="#">
        <i class="fab fa-fw fa-twitter fa-2x"></i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-instagram fa-2x"></i>
      </a>
    </div> 
</div>