

<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1524102724373-bcf6ed410592?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1037&q=80')"><h1>Chris Cars</h1>
    <%= link_to "See all cars", cars_path, class: "btn btn-primary" %>
    <%= link_to "Items", items_path, class: "btn btn-primary" %>
</div>

 <form action="/cars" id="form">
            <input name="location" class="form-control-for-hp w-100 fs-1" type="search" placeholder="  Where are you?">
          <button class="icon-search" type="submit">
            <a class="hp-search-button btn btn-info"><i class="fas fa-search"></i></a>
          </button>
        </form>